// ==================================
// VARIABLES
// ==================================
$green-bleak: #c3e2b9;
$green-light: #76dd53;
$green-primary: #48bc20;
$green-dark: #268008;
$text-color-primary: #1c1c1c;

// ==================================
// MIXINS & FUNCTIONS
// ==================================
@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
}

@mixin respond($breakpoint) {
  @if $breakpoint == desktop-xxsm {
    @media (max-width: 379px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xsm {
    @media (max-width: 575px) {
      @content;
    }
  }
  @if $breakpoint == desktop-sm {
    @media (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == desktop-md {
    @media (max-width: 991px) {
      @content;
    }
  }
  @if $breakpoint == desktop-lg {
    @media (max-width: 1199px) {
      @content;
    }
  }

  @if $breakpoint == desktop-xl {
    @media (max-width: 1379px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xxl {
    @media (max-width: 1720px) {
      @content;
    }
  }

  @if $breakpoint == desktop-xxxl {
    @media (max-width: 1900px) {
      @content;
    }
  }
}

@function resize($base, $value) {
  $result: $base * $value;
  @return $result;
}

// ==================================
// GENERAL SETTINGS
// ==================================

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  
    font-size: 62.5%;   //1rem = 10px 10px/16 62.5%

    // @include respond(desktop-xl) {
    //   font-size: 60%;
    // }

    @include respond(desktop-lg) {
      font-size: 57.5%;
    }

    @include respond(desktop-md) {
      font-size: 55%;
    }

    @include respond(desktop-sm) {
      font-size: 50%;
    }

    // @include respond(desktop-xsm) {
    //   font-size: 45%;
    // }

    @include respond(desktop-xxsm) {
      font-size: 45%;
    }
}

body {

    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: $text-color-primary;
    overflow-x: hidden;

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar { 
      width: 0 !important;
  }
}

// ==================================
// UTLITIES
// ==================================
.container {
  padding: 0 1.5rem;
  max-width: 140rem;
  
  margin: 0 auto;

  @include respond(desktop-md) {
    padding: 0 5%;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.1rem 1.7rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  border: solid 1.75px transparent;
  border-radius: 2px;
 
  &-primary {
   color: #FFF;
   background-color: $green-primary;
   border-color: $green-primary;
 
   &-outlined {
    background-color: transparent;
    color: $green-primary;
    border-color: $green-primary;
   }
  }

  &-secondary {

    &-outlined {
      background-color: #FFF;
      color: #2678e5;
      border: solid 2px #2678e5;
    }
  }

  &-white {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.4rem 3.35rem;
    border-radius: 4px;
    border: solid 1px #dadce0;
    background-color: #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
    color: #2376e5;
  }
 }

.show-md {
  display: none;

  @include respond(desktop-md) {
    display: inline-flex;
  }
}

.show-xsm {
  display: none;

  @include respond(desktop-xsm) {
    display: inline-flex;
  }
}

.hide-md {
  @include respond(desktop-md) {
    display: none!important;
  }
}

.hide-sm {
  @include respond(desktop-sm) {
    display: none!important;
  }
}

.hide-xsm {
  @include respond(desktop-xsm) {
    display: none!important;
  }
}

.hide-xxsm {
  @include respond(desktop-xxsm) {
    display: none!important;
  }
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.onscreen {
  transform: translate(0,0)!important;
}

// ==================================
// LAYOUT
// ==================================
.header {
  position: sticky;
  top:0;
  left: 0;
  border-bottom: 1.5px solid #F4F4F4;
  background-color: #FFF;


  @include respond(desktop-md) {
    border: 0;
  }


  & .nav,
  & .toolbar {
    background-color: #FFF;
    padding: 1.2rem 1.5rem;
    margin: 0 auto;
    height: 6.9rem;
    max-width: 140rem;
    @include flexbox;
    align-items: center;
    z-index: 1000;
    

    @include respond(desktop-md) {
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #FFF;
      transform: translate(100%, 0);

    }

    &-top {
      display: inline-flex;
      align-items: center;
      border-bottom: 1.5px solid transparent;

      @include respond(desktop-md) {
        padding: 1.2rem 5%;
        display: flex;

        border-bottom: 1.5px solid #F4F4F4;
      }

      & .nav-logo {
        margin-left: .3rem;
        margin-right: 3.7rem;
        height: 3.7rem;
  
        @include respond(desktop-md) {
          margin-right: auto;
        }
      }

      & .link {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.4;
        color: #1c1c1c;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      & .burger {
        & svg {
          cursor: pointer;
          color: #232324;
          font-size: 2rem;
        }
      }

      & .btn:first-of-type {
        margin-right: 1.1rem;
      }
    }

    &-list {
      margin-right: 3rem;
      width: 100%;
      max-width: 44rem;
      list-style: none;
      @include flexbox;
      align-items: center;
      //justify-content: space-evenly;

      @include respond(desktop-md) {
        display: block;
        max-width: 100%;

      }

      &-item {
        padding: 0 1.65rem;

        @include respond(desktop-md) {
          padding: 0;
        }
        &-link {
          text-decoration: none;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 3.65;
          color: #2f2f2f;
          white-space: nowrap;

          

          @include respond(desktop-md) {
            font-size: 1.7rem;
            padding: 2rem 0;
            padding-left: 5%;
            padding-right: 5%;
            display: flex;
            align-items: center;
            justify-content: space-between;
  
            &:hover,
            &:focus {
              text-decoration: none!important;
              background-color: #f5f5f5;
            }
          }

          &.active {
            font-weight: 700;
          }

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }

        & svg {
          color: #232324;
          display: none;
          font-size: 1.5rem;

          @include respond(desktop-md) {
            display: inline-block;
          }
        }
      }
    }

    &-right {
      @include flexbox;
      align-items: center;
      margin-left: auto;

      @include respond(desktop-md) {
        margin-top: 3rem;
        justify-content: space-between;
        padding: 0 5%;
      }

      @include respond(desktop-xsm) {
        flex-direction: column;
      }

      & .on-big {
        @include respond(desktop-md) {
          display: none;
        }
      }

      & .on-small {
        font-size: 1.7rem;
        padding: 1.7rem 0;
        margin: .85rem 0;
        display: none;
        @include respond(desktop-md) {
          width: 48%;
          display: inline-flex;
        }

        @include respond(desktop-xsm) {
          width: 100%;
        }
      }

      & .btn:first-of-type {
        margin-right: 1.1rem;
      }
    }
  }

  & .nav {
    z-index: 100%;
  }

  & .toolbar {
    position: relative;
    height: 0;
    display: none;
    transform: translate(0,0);

    @include respond(desktop-md) {
      height: 100%;
      display: flex;
    }

    &-top {
      display: flex;
      width: 100%;
    }
  }
}

// SECTION HERO
.section-hero {
  padding-top: 7rem;
  padding-bottom: 9rem;
  text-align: center;

  &-logo {
    margin-bottom: 3.3rem;
    &-img {
      height: 5.3rem;
    }
  }

  &-title {
    margin: 0 auto;
    margin-bottom: 2.5rem;
    max-width: 79rem;
    font-size: 5.1rem;
    font-weight: 600;
    line-height: 1.25;
    color: #202124;
  }

  &-subtitle {
    margin-bottom: 3.5rem;
    font-size: 2.2rem;
    font-weight: 400;
    color: #5f6368;
  }

  & .btn {
    font-size: 1.7rem;
    margin-bottom: .8rem;
  }

  &-info {
    font-size: 1.5rem;
    font-weight: 400;
    color: #423f3f;
  }
}

// SECTION INFO
.section-info {
  margin-left: 5.8rem;
  margin-right: 6.1rem;
  padding-top: 4.7rem;
  padding-bottom: 7.25rem;
  display: flex;
  justify-content: space-between;
  border-top: 1.5px solid #F2F0F2;
  border-bottom: 1.5px solid #F2F0F2;

  @include respond(desktop-md) {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }

  &-card {
    max-width: 31.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-of-type) {
      margin-right: 5rem;

      @include respond(desktop-md) {
        margin-bottom:  5rem;
      }

      @include respond(desktop-xsm) {
        margin-bottom:  8rem;
      }
    }

    @include respond(desktop-md) {
      flex-direction: row;
      max-width: 100%;
      margin-right: 0!important;

      &:nth-of-type(even) {
        flex-direction: row-reverse;

        & .section-info-card-body {
          margin-left: 0;
          margin-right: 5rem;
        }
      }
    }

    @include respond(desktop-xsm) {
      flex-direction: column;

      &:nth-of-type(even) {
        flex-direction: column;
      }
    }

    &-img {
      margin: 0 auto;
      margin-bottom: 3rem;
      height: 43.5rem;
      border-radius: 17px;
      //box-shadow: 0 6px 12px 0 rgba(85, 85, 85, 0.1);
      border: 1.2rem solid rgba(243, 243, 243, 0.6);
    }

    &-body {
      max-width: 31.7rem;

      @include respond(desktop-md) {
        margin-left: 5rem;
      }

      @include respond(desktop-xsm) {
        margin-right: 0!important;
        margin-left: 0!important;
      }
    }

    &-title {
      margin-bottom: 2rem;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.36;
      color: #000000;
    }

    &-text {
      margin-bottom: 2.1rem;
      font-family: 'Roboto', sans-serif;
      font-size: 1.55rem;
      font-weight: 400;
      line-height: 1.66;
      color: #5f6368;
    }

    & .btn {
      align-self: flex-start;
    }
  }
}

// SECTION DASHBOARD
.section-dashboard {
  padding-top: 9.25rem;
  padding-bottom: 9rem;

  &-card {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 101.9rem;

    @include respond(desktop-xsm) {
      flex-direction: column;
    }

    &-img {
      max-width: 61.2rem;

      @include respond(desktop-md) {
        max-width: 50%;
      }

      @include respond(desktop-xsm) {
        max-width: 80%;
      }
    }

    &-body {
      max-width: 35.4rem;
      margin-left: 5rem;

      @include respond(desktop-xsm) {
        margin-top: 5rem;
        margin-left: 0;
      }
    }

    &-title {
      margin-bottom: 2.4rem;
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.17;
      color: #000000;
    }

    &-text {
      margin-bottom: 2.1rem;
      font-family: 'Roboto', sans-serif;
      font-size: 1.55rem;
      font-weight: 400;
      line-height: 1.68;
      color: #5f6368;
    }
  }
}

// SECTION BANNER
.section-banner-wrapper {
  padding-top: 7.7rem;
  padding-bottom: 10rem;
  background-color: #fafafa;
}

.section-banner {
  text-align: center;

  &-logo {
    margin-bottom: 1.7rem;
    width: 5.3rem;
  }

  &-title {
    margin-bottom: 1.6rem;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.28px;
    color: #000000;
  }

  &-text {
    margin: 0 auto;
    margin-bottom: 3.4rem;
    max-width: 62.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.44;
    color: #2f2f2f;
  }

  & .btn {
    border-radius: 4px;
    padding: .75rem 1.7rem;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }

  &-info {
    font-size: 1.4rem;
    font-weight: 400;
    color: #423f3f;
  }
}

// FOOTER
.footer-wrapper {
  border-top: 1.5px solid #F2F0F2;
}

.footer {

  & .container {
    
    @include respond(desktop-xl) {
      max-width: 114rem;
    }
  }

  &-main {
    padding-top: 3.8rem;
    padding-bottom: 6.9rem;
    display: flex;
    align-items: flex-start;

    @include respond(desktop-sm) {
      justify-content: space-between;
    }
    

    @include respond(desktop-xsm) {
      justify-content: center;
      flex-wrap: wrap;
    }

    &-list {
      min-width: 12rem;
      margin-right: 7rem;
      list-style: none;

      @include respond(desktop-sm) {
        margin-right: 4rem;
        min-width: auto;
      }

      @include respond(desktop-xsm) {
        margin-top: 3rem;
        text-align: center;
        min-width: auto;
        margin-right: 0;
        width: 50%;
      }

      &-item {
        padding: .95rem 0;
        white-space: nowrap;

        &-title {
          font-size: 1.5rem;
          font-weight: 700;
          color: #313131;
        }

        &-link {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.86;
          color: #8b8b8b;
        }
      }
    }
  }

  &-social-wrapper {
    background-color: #f5f5f5;
  }

  &-social {
    display: flex;
    align-items: center;
    height: 7.5rem;

    &-link {
      margin-right: 2.8rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.57;
      color: #454545;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    &-drop {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.57;
      color: #454545;
      text-decoration: none;
    }

    &-icons {
      margin-left: auto;

      @include respond(desktop-xsm) {
        margin: 0 auto;
      }

      &-link {
        color: #333;
        font-size: 3rem;

        &:not(:last-of-type) {
          margin-right: 1rem;
        }
      }
    }
  }

  &-copy-wrapper {
    background-color: #ebeaeb;
  }

  &-copy {
    display: flex;
    align-items: center;
    height: 4.1rem;

    @include respond(desktop-xsm) {
      justify-content: center;
    }

    &-text {
      font-size: 1.1rem;
      font-weight: 400;
      color: #454545;
    }
  }
}




// font-family: 'Open Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Roboto', sans-serif;
//FORCE GIT UPDATE